name: CI Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout source
        uses: actions/checkout@v3

      # 2. Setup Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      # 3. Build JAR with Maven
      - name: Build JAR
        run: mvn clean package -DskipTests

      # 4. Build Docker image
      - name: Build Docker image
        run: docker build -t user-microservice:latest .

      # 5. Run Docker container
      - name: Run Docker container
        run: |
          docker run -d \
            --name user-microservice \
            -p 8080:8080 \
            user-microservice:latest
